.active-link {
    background-color: #007bff !important; /* Blue highlight */
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
  }

  .navbar-toggler-icon {
    background-color: #adaaaa; /* Black color */
  }